.toastContainer {
    animation-name: show-toast;
    animation-duration: 6s;
    opacity: 0;
    transform: scale(0.8);

    z-index: 20;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;

    background-color: #381812;
    color: white;

    border-radius: 15px;
    margin: auto;
    min-height: 40px;
    width: 300px;
    padding: 5px 3px;

    right: 0;
    left: 0;
    bottom: 0;

    pointer-events: none;
    box-shadow: 1px 1px 7px 2px #00000012;
}

p {
    text-align: center;
    margin: 5px;
    font-size: 17px;
    color: #f7eadd;
    
}

@keyframes show-toast {
    5% {
        opacity: 100%;
        transform: translateY(-7vh);
        
    }

    90% {
        opacity: 100%;
        transform: translateY(-7vh);
        
    }

    100% {
        opacity: 0;
        transform: translateY(-7vh);
        transform: scale(0.8);
    }
}