.active {
    height: 240px;
    overflow: hidden;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0,.16,0,1.02);
    animation-name: expand-desc;
}

.active .imgContainer {
    border-bottom-right-radius: 15px;
    transition: 0.3s
}

.hidden .imgContainer {
    border-bottom-right-radius: 0px;
    transition: 0.3s
}

.hidden {
    height: 120px;
    overflow: hidden;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0,.16,0,1.02);
    animation-name: hide-desc;
}

@keyframes expand-desc {
    0% {
        height: 120px;
    }

    100% {
        height: 240x;
    }
}